@page
@model Proiect1.Pages.CompaniiAeriene.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CompanieAeriana</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanieAeriana.Nume_Airline" class="control-label"></label>
                <input asp-for="CompanieAeriana.Nume_Airline" class="form-control" />
                <span asp-validation-for="CompanieAeriana.Nume_Airline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanieAeriana.Tara" class="control-label"></label>
                <input asp-for="CompanieAeriana.Tara" class="form-control" />
                <span asp-validation-for="CompanieAeriana.Tara" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanieAeriana.CallCenter" class="control-label"></label>
                <input asp-for="CompanieAeriana.CallCenter" class="form-control" />
                <span asp-validation-for="CompanieAeriana.CallCenter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanieAeriana.EmailContact" class="control-label"></label>
                <input asp-for="CompanieAeriana.EmailContact" class="form-control" />
                <span asp-validation-for="CompanieAeriana.EmailContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
